<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/search3" method="get">
		<input type="checkbox" name="memberId" value="user05">user05
		<input type="checkbox" name="memberId" value="user06">user06
		<input type="checkbox" name="memberId" value="user07">user07
		<input type="checkbox" name="memberId" value="user08">user08
		<input type="checkbox" name="memberId" value="user09">user09
		<input type="checkbox" name="memberId" value="user10">user10
		<br>
		<input type="submit" value="조회">	
	</form>
</body>
</html>